.contacts {
    margin: 100px 0;
}

.contacts__wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contacts__title {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    color: #3E8989;
}

.contacts__desc {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.contacts__desc-text {
    max-width: 555px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.contacts__desc-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__desc-contact-text {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}


@media screen and (max-width:680px) {
    .contacts__wrap{
        gap: 30px;
    }
    .contacts__desc{
        flex-direction: column;
        gap: 20px;
    }
    .contacts__desc-contact{
        flex-direction: row;
        gap: 50px;
    }
}

@media screen and (max-width:450px){
    .contacts__desc-contact{
        flex-direction: column;
        gap: 10px;
    }
}