.footer {
    background: #3E8989;
    padding: 40px 15px;
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.footer__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__nav-list-item-link {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.footer__rights {
    display: flex;
    gap: 6px;
}

.footer__rights-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}


@media screen and (max-width:600px) {
    .footer{
        padding: 20px 0;
    }
    .footer__wrap{
        gap: 30px;
    }
}